.heavy {
  font-weight: 900;
}
.light {
  font-weight: 100;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media only screen and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}
.hide-in-desktop {
  display: none;
}
@media only screen and (max-width: 767px) {
  .hide-in-desktop {
    display: inline-block;
  }
}

ul {
  list-style: none;
  li {
    line-height: 2.8rem;
  }
}

.task-list-item input[type="checkbox"] {
  display: none;
}

ul li.task-list-item:before {
  content: "\2714\0020";
  color: var(--ired);
}

.breadcrumbs {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
  display: flex;

  li {
    padding-right: 5px;
    color: #ccc;
    &:last-child {
      color: #666;
    }
    a {
      padding-right: 5px;
    }
  }
}
